<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
 th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Update|page</title>
</head>
<body>
<section>
	<form action="#" th:object="${contact}" enctype="multipart/form-data" method="post" th:action="@{/user/process_update}">
	
	<div class="card text-info">
	<h1 class="text-center py-2">Update Contact</h1>
	<div class="card-body">
	
	<div class="text-center">
	<input type="hidden" th:value="${contact.cId}" name="cId"/>
	</div>
	 <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="col-md-8 offset-md-2">
    <div class="col">
      <div class="form-outline">
       <label class="form-label" for="form6Example1">First name</label>
        <input th:value="${contact.name}" required name="name" type="text" id="form6Example1" class="form-control" placeholder="Enter hear" />
       
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
      <label class="form-label" for="form6Example2">Nick name</label>
        <input th:value="${contact.secondName}" name="secondName" type="text" id="form6Example2" class="form-control" placeholder="Enter hear" />
      </div>
    </div>
  </div>


  <div class="col-md-8 offset-md-2">
    <div class="col">
      <div class="form-outline">
       <label class="form-label" for="form6Example1">work</label>
        <input th:value="${contact.work}"  name="work" type="text" id="form6Example1" class="form-control" placeholder="Enter hear" />
       
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
      <label class="form-label" for="form6Example2">email</label>
        <input th:value="${contact.email}" required name="email" type="email" id="form6Example2" class="form-control" placeholder="Enter hear" />
      </div>
    </div>
  </div>
  
  
   <div class="col-md-8 offset-md-2">
    <div class="col">
      <div class="form-outline">
       <label class="form-label" for="form6Example1">phone</label>
        <input th:value="${contact.phone}" required min="10" name="phone" type="number" id="form6Example1" class="form-control" placeholder="Enter hear" />
       
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
      <label class="form-label" for="form6Example2">image</label>
        <input name="profileImage" type="file" id="form6Example2" class="form-control" placeholder="Enter hear" />
      </div>
    </div>
  </div>
  
   <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="col-md-8 offset-md-2">
    <div class="col">
      <div class="form-outline">
       <label class="form-label" for="form6Example1">Discription</label>
        <textarea th:text="${contact.description}" id="mytextarea" rows="15" name="description" placeholder="Enter hear" class="form-control" ></textarea>
      </div>
    </div>
		
	</div>
	</div> 
  <!-- Submit button -->
 <div class="text-center">
  <button type="submit" class="btn btn-primary mb-4">Submit</button>
 </div>
</form>
  
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" 
    referrerpolicy="origin"></script>
       
       <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
</section>
</body>
</html>