<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
 th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>change password form |page</title>
</head>
<body>
<section>
	<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 250px;" class="col-md-12">
                  
                        <h3 class="text-center py-3">Enter new password</h3>
                        
                        <form th:action="@{/change_passowrd}"  method="post">
                            <div class="form-group py-3">
                                <input name="newpassword" required type="password" class="form-control" placeholder="Enter new password hear" />
                            </div>
                            
                            
                            <div class="form-group text-center">
                               <button type="submit" class="btn btn-success">Change password</button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>