<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
 th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>forgot_email|page</title>
</head>
<body>
<section>
	<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 250px;" class="col-md-12">
                        
                        
                        <!-- email form -->
                       <div class="alert alert-success mt-3" role="alert">
                                We have send otp to your email
                       </div>
                       
                         <!--  message box -->
						<div th:if="${session.message}" class="container text-center">
								<div class=" alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
                       
                        
                        <form th:action="@{/verify_otp}"  method="post">
                            <div class="form-group py-2">
                                <input required name="otp" type="text" class="form-control" placeholder="Enter otp hear" />
                            </div>
                            
                            
                            <div class="form-group text-center">
                               <button type="submit" class="btn btn-success">Verify</button>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>